{# ROI Training Inc - Venus Document Management System
# Last Edit: 6/17/2024
# Base Webpage
#}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Project VENUS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">Welcome to VENUS</div>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/">List Documents</a></li>
        </ul>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    {{user}}
  </body>
</html>
